<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sis104Avance"
        tools:targetApi="31">
        <activity
            android:name=".graficos.TablaTortaActivity"
            android:exported="false" />
        <activity
            android:name=".graficos.TablaGraficaBarrasYPuntos"
            android:exported="false" />
        <activity
            android:name=".graficos.TablaGraficaBarraActivity"
            android:exported="false" />
        <activity
            android:name=".graficos.GraficoBarraActivity"
            android:exported="false" />
        <activity
            android:name=".graficos.Grafico2dActivity"
            android:exported="false" />
        <activity
            android:name=".ejercicios.EstadisticaActivity"
            android:exported="false" />
        <activity
            android:name=".graficos.GraficosActivity"
            android:exported="false" />
        <activity
            android:name=".ejercicios.EcuacionActivity"
            android:exported="false" />
        <activity
            android:name=".ejercicios.EjerciciosActivity"
            android:exported="false" />
        <activity
            android:name=".examenes.ExamenActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>